<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="fr"><title>Nouvelles de zjyto.net</title><link href="../../index.html" rel="alternate"></link><link href="index.html" rel="self"></link><id>http://zjyto.net/blog/</id><updated>2010-02-22T21:06:28+02:00</updated><subtitle>Le carnet de Grégo</subtitle><entry><title>
    
        Aujourd&amp;#39;hui j&amp;#39;ai fait un panorama de Göteborg vu depuis la cafeteria de la fac (merci papa !)
    


</title><link href="../../2010/d15d927d-f747-48e3-8bea-d1bc69e63c00/index.html" rel="alternate"></link><updated>2010-02-22T21:06:28+02:00</updated><author><name>Grégoire</name><email>gdetrez@crans.org</email></author><id>http://zjyto.net/blog/2010/d15d927d-f747-48e3-8bea-d1bc69e63c00/</id><summary type="html">

&lt;img src="/_static/upload/images/mon_premier_panorama_500x500.png" /&gt;

</summary><link length="2835344" href="/_static/upload/images/mon_premier_panorama.png" type="image/png" rel="enclosure"></link></entry><entry><title>
    
        J&amp;#39;ai fait du pain !
    


</title><link href="../../2010/pain/index.html" rel="alternate"></link><updated>2010-02-16T19:33:33+02:00</updated><author><name>Grégoire</name><email>gdetrez@crans.org</email></author><id>http://zjyto.net/blog/2010/pain/</id><summary type="html">

&lt;img src="/_static/upload/images/IMG_0594_500x500.JPG" /&gt;

</summary><link length="3186551" href="/_static/upload/images/IMG_0594.JPG" type="image/jpeg" rel="enclosure"></link></entry><entry><title>
Balade à Nääs Slott 
</title><link href="../../2009/balade-naas-slott/index.html" rel="alternate"></link><updated>2009-10-26T12:46:47+02:00</updated><author><name>Grégoire</name><email>gdetrez@crans.org</email></author><id>http://zjyto.net/blog/2009/balade-naas-slott/</id><summary type="html">

La semaine passée on a été se balader autour de Göteborg, près du Chateau de Nääs (Nääs Slott).</summary></entry><entry><title>
    
        Mon nouveau bureau.
    


</title><link href="../../2009/6b601744-a04f-4657-8fba-90cbd376d57b/index.html" rel="alternate"></link><updated>2009-09-24T08:28:31+02:00</updated><author><name>Grégoire</name><email>gdetrez@crans.org</email></author><id>http://zjyto.net/blog/2009/6b601744-a04f-4657-8fba-90cbd376d57b/</id><summary type="html">

&lt;img src="/_static/upload/images/Photo0192_500x500.jpg" /&gt;

</summary><link length="541095" href="/_static/upload/images/Photo0192.jpg" type="image/jpeg" rel="enclosure"></link></entry><entry><title>
    
        Maisons Suédoises
    


</title><link href="../../2009/08747030-21f2-403c-964b-8fe22abe45a1/index.html" rel="alternate"></link><updated>2009-09-05T22:23:27+02:00</updated><author><name>Grégoire</name><email>gdetrez@crans.org</email></author><id>http://zjyto.net/blog/2009/08747030-21f2-403c-964b-8fe22abe45a1/</id><summary type="html">

&lt;img src="/_static/upload/images/Imagen0181_500x500.jpg" /&gt;

</summary><link length="217360" href="/_static/upload/images/Imagen0181.jpg" type="image/jpeg" rel="enclosure"></link></entry><entry><title>
    
        Il fait beau en suède !
    


</title><link href="../../2009/4ff697f5-4f62-4a30-8cc7-ea6f9c651c53/index.html" rel="alternate"></link><updated>2009-09-05T22:21:31+02:00</updated><author><name>Grégoire</name><email>gdetrez@crans.org</email></author><id>http://zjyto.net/blog/2009/4ff697f5-4f62-4a30-8cc7-ea6f9c651c53/</id><summary type="html">

&lt;img src="/_static/upload/images/Imagen0185_500x500.jpg" /&gt;

</summary><link length="487548" href="/_static/upload/images/Imagen0185.jpg" type="image/jpeg" rel="enclosure"></link></entry><entry><title>
    
        Notre maison au -2
    


</title><link href="../../2009/366c0f55-e204-4543-a507-d15067e591e2/index.html" rel="alternate"></link><updated>2009-09-05T22:20:16+02:00</updated><author><name>Grégoire</name><email>gdetrez@crans.org</email></author><id>http://zjyto.net/blog/2009/366c0f55-e204-4543-a507-d15067e591e2/</id><summary type="html">

&lt;img src="/_static/upload/images/Imagen0186_500x500.jpg" /&gt;

</summary><link length="718011" href="/_static/upload/images/Imagen0186.jpg" type="image/jpeg" rel="enclosure"></link></entry><entry><title>
PKG_PROG_PKG_CONFIG sur Mac OS X Leopard
</title><link href="../../2009/fa10d733-9e49-43b0-a9af-7d34e9307194/index.html" rel="alternate"></link><updated>2009-03-06T19:02:00+02:00</updated><author><name>Grégoire</name><email>gdetrez@crans.org</email></author><id>http://zjyto.net/blog/2009/fa10d733-9e49-43b0-a9af-7d34e9307194/</id><summary type="html">

&lt;p&gt;J'ai rencontré un soucis avec autoconf sous leopard aujourd'hui. L'erreur était la suivante :&lt;/p&gt;

&lt;pre&gt;
./configure: line 2415: syntax error near unexpected token `0.2'
./configure: line 2415: `PKG_PROG_PKG_CONFIG(0.2)'
&lt;/pre&gt;

pour régler le problème, il suffit de dire à aclocal où chercher le fichier pkg.m4 :
&lt;pre&gt;
aclocal -I/usr/local/share/aclocal
&lt;/pre&gt;
</summary></entry></feed>
<!-- Localized -->
