/* app css stylesheet */
body, * {
  font-family: 'Trebuchet MS','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 12px;
}

a { color: #D27604 }

.panel-default > .panel-heading {
  background: #F2E0C8;
}
