/* == General things */

a { color:#873300;}
    /* We don't want border on linked images */
    a img { border: none;}



/* ========================================================================= */
/* == HTML */
/* ========================================================================= */
html {
        background: black url("img/Bois_du_Cazier_2.jpg") no-repeat fixed center center;
        padding: 7em 0 0; text-align:center;
	font-size: 14px;}
body {width: 50em;margin:auto;}

/* ========================================================================= */
/* == Header */
/* ========================================================================= */
body>header {
        background: transparent url("img/black_bg+.png") repeat top left;
        color:white; display: block; margin: 0 auto 0;
        padding:.4em 1em; position: relative;
        text-align: right; -moz-border-radius: 10px; -webkit-border-radius: 0 10px 0 10px;}
        body>header a { color: white; text-decoration: none;}
body>header h1 {
        font-size: 3em; margin:0; padding:0;}
body>header h2 {
        margin:0;}
/* -- header menu */
body>header>nav {
        display: inline-block;
        position: absolute;
            top:.4em;
            left:5px;}
body>header>nav ul {
        margin:0; padding:0; display:block; text-align: center;}
body>header>nav li {
        display: inline; list-style-type: none;}
body>header>nav li a {
        opacity:0.2; display: inline-block;}
        body>header>nav li.current a, body>header>nav li a:hover { opacity:1; }


/* ========================================================================= */
/* --[Footer]-- */
/* ========================================================================= */
body>footer {
        background: transparent url("img/black_bg+.png") repeat top left;
        display: block; width:100%; margin:0; }
body>footer p {
        text-align:center; font-size: small; font-style: italic; }
body>footer a {
        color:white;}
