/* ==[Dependencies]== */
@import url(base.css);


/* ========================================================================= */
/* --[Blog]-- */
/* ========================================================================= */

body>section {
        display: block; margin: auto; text-align:right;}
body>section>article {
        display: inline-block; margin: 3em 1em; vertical-align:top;}
body>section>article>aside {
            display: block; float:right; text-align: center; width: 100px;}
body>section>article>aside> * {
            box-shadow: 5px 5px 5px #888; -moz-box-shadow:5px 5px 5px #000; -webkit-box-shadow:5px 5px 5px #000;}
body>section>article>aside>a {
            display: inline-block; background: #e6e6e6; border: 2px black solid; padding: 3px; width: 64px;
            line-height: 0;}
/* -- Text post -- */
body>section>article>section {
        box-shadow: 5px 5px 5px #888; -moz-box-shadow:5px 5px 5px #000; -webkit-box-shadow:5px 5px 5px #000;
        display: block;
        background: #e6e6e6;
        border: thick black solid;
        color: black;
        margin-right: 100px;
        padding: 1em;
        text-align: left;}
body>section>article.unpublished>section {
  background: #f6f6d6;}
body>section>article.unpublished>section h1:after {
    content:"(unpublished)"; color: gray;}
body>section article h1 {
        margin:0; font-size:1.4em; }
/* -- Image -- */
body>section>article>figure {
        box-shadow: 5px 5px 5px #888; -moz-box-shadow:5px 5px 5px #000; -webkit-box-shadow:5px 5px 5px #000;
        display: block; background: #e6e6e6; border: thick black solid; color: black; position:relative;
        margin-right: 100px;}
body>section>article>figure>a {
        display:block;
        margin:0;
        line-height:0;}
body>section article figure a img {margin:0;}
body>section>article>figure>p {
        font-style:italic;text-align:left; padding:.5em; margin:0;/* display:none;*/
        color:white; background:transparent url("img/black_bg+.png") repeat top left;
        position: absolute;
            bottom:0;}
        /*body>section>article>figure:hover>p {
                        display:block;}*/

body>section>article>section>footer {
        display: block;color: gray;font-family:Zapf Chancery, cursive;text-align:right;
        font-size:1.3em;font-style:italic;}
        body>section>article>section>footer a {color: gray; text-decoration:none;}

/* Display images in a blog post */
div.images {
  padding: 1em 0;}

div.images>figure {
  background:white;
  border:thin solid black;
  color:#873300;
  display:inline-block; width: 100px;
  text-align: center;
  margin: 5px;
  padding:0.3em;}

div.images>figure>p {
  margin:0;}


/* --- datetime ------------------------------------------------------------ */
/* beautiful css dates! you’ll love the html too, `<time>` is purely semantic and could be removed
   you could use a class, I’m using a rel attribute that means “permalink” */
time {
            display: inline-block; position: relative; width: 70px; margin-bottom: 18px;
            border: 1px solid #888885; -moz-border-radius: 5px; -webkit-border-radius: 5px;
            padding-top: 18px;
/* day */   font-size: 32px; line-height: 50px; text-align: center; letter-spacing: 2px;
            color: #666; background: #fcfcfc; 
            background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#aaa), to(#fcfcfc))}

/* year + month */
time abbr {
            display: block; font: 10px Verdana, sans-serif; letter-spacing: 0; color: white;
            -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;}
/* month */
time span+abbr {
            position: absolute; top: 0; left: 0; width: 62px; padding: 0 3px;
            width: 60px; margin: -1px 0 0 -1px; padding: 0 5px; border: 1px solid #832a28 !important;
            line-height: 16px; text-align: left; text-transform: uppercase;
            background: #a33537 repeat-x bottom left;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#831517), to(#a33537))}
/* year */
time abbr+abbr {
            position: absolute; top: 0; left: 0; width: 62px; padding: 0 3px;
            border: 1px solid #a33537; border-bottom: 1px solid #832a28;
            line-height: 14px; color: #eaa; text-align: right;}
/* time */
time sub {
            display: none;  border-top: 1px solid #bbd; margin: 0 3px;
                font: 9px/16px Verdana, sans-serif; letter-spacing: 0; text-align: center; color: #aac;}

time:hover sub, /* show the time on mouse-over / keyboard-focus */
time:focus sub {
                display: block;}
