/* ==[Dependencies]== */
@import url(base.css);


/* ========================================================================= */
/* ==[Layout]== */
/* ========================================================================= */

body>section {
    box-shadow: 5px 5px 5px #888;
    -moz-box-shadow:5px 5px 5px #000;
    -webkit-box-shadow:5px 5px 5px #000;
    display: block;
    background: #e6e6e6;
    border: thick black solid;
    color: black;
    margin: 2em;
    padding: 1em;
    text-align: left;
}

body>section>a>img {
    float:right;
}

body>section>section>section {
    display:block;
    padding-left: 30px;
}
    body>section>section>section h5 {
        margin:.5em 0 .1em;
        font-size:1em;
    }

.project {
	position:relative;
	padding: .2em .2em .2em 50px;
	min-height:45px;}
	.project h3 {
		margin:0;}
	.project img {
		position:absolute; 
			top:0; left:0;}
/* ========================================================================= */
/* ==[Icons]== */
/* ========================================================================= */

section.e-mail { background: transparent url(icons/mbox.png) no-repeat top left;}
section.jabberid { background: transparent url(icons/jabberid.png) no-repeat top left;}
section.address { background: transparent url(icons/address.png) no-repeat top left;}
section.phone { background: transparent url(icons/phone.png) no-repeat top left;}
section.openid { background: transparent url(icons/openid.png) no-repeat top left;}
section.weblog { background: transparent url(icons/weblog.png) no-repeat top left;}
