a img { border: none;}
html {
    background: black url("img/Bois_du_Cazier_2.jpg") no-repeat fixed center center;
    padding-top: 7em;
    text-align:center;}
    body {
        display: inline-block;
        margin: 0 auto;
        width: 50em;
        padding:.1em 1em;}
    body>header,
    body>footer,
    body>nav {
        background: transparent url("img/black_bg+.png") repeat top left;
        color:white;
        display: block;
        padding:.1em 1em;}
    body>header {
        text-align: right;}
        body>header h1 {
            font-size: 3em;
            margin:0;
            padding:0;}
        body>header h2 {
            margin:0;}
        body>nav ul {
            margin:0;
            padding:0;
            display:block;
            text-align: center;}
            body>nav li {
                display: inline;
                list-style-type: none;}
                body>nav li a {
                background-color: transparent;
                background-position: top center;
                background-repeat: no-repeat;
                color: white;
                display: inline-block;
                width:100px;
                margin: 2em;
                padding: .2em .2em; 
                text-decoration: none;}
                body>nav li a img {border: none; }
        body>footer p {
            text-align:center;
            font-size: small;
            font-style: italic;}
        body>footer a {
            color:white;}

/* ========================================================================= */
/* --[Blog]-- */
/* ========================================================================= */

section#blog {
    padding: 1em;
    }
    section#blog>article {
        display: inline-block;
        margin: 3em 1em;}
        section#blog>article>aside {
            display: block;
            float:left;}
        section#blog>article>aside> * {
            box-shadow: 5px 5px 5px #888;
            -moz-box-shadow:5px 5px 5px #000;
            -webkit-box-shadow:5px 5px 5px #000;}
    section#blog>article>section {
        box-shadow: 5px 5px 5px #888;
        -moz-box-shadow:5px 5px 5px #000;
        -webkit-box-shadow:5px 5px 5px #000;
        display: block;
        background: #e6e6e6;
        border: thick black solid;
        color: black;
        margin-left: 100px;
        padding: 1em;
        text-align: left;}
        section#blog article h1 {
            margin:0;}
    section#blog>article>figure {
        box-shadow: 5px 5px 5px #888;
        -moz-box-shadow:5px 5px 5px #000;
        -webkit-box-shadow:5px 5px 5px #000;
        display: block;
        background: #e6e6e6;
        border: thick black solid;
        color: black;
        margin-left: 100px;}
        section#blog>article>figure>a {
            display:block;
            margin:0;
            line-height:0;}
            section#blog article figure a img {
            margin:0;
        }
/* --- datetime ---------------------------------------------------------------------------------------------------------- */
/* beautiful css dates! you’ll love the html too, `<time>` is purely semantic and could be removed
   you could use a class, I’m using a rel attribute that means “permalink” */
time {
            display: block; position: relative; width: 60px; margin-bottom: 18px;
            border: 1px solid #888885; -moz-border-radius: 5px; -webkit-border-radius: 5px;
            padding-top: 18px;
/* day */   font-size: 24px; line-height: 35px; text-align: center; letter-spacing: 2px;
            color: #666; background: #fcfcfc; 
            background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#aaa), to(#fcfcfc))}

/* year + month */
time abbr {
            display: block; font: 10px Verdana, sans-serif; letter-spacing: 0; color: white;
            -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;}
/* month */
time span+abbr {
            position: absolute; top: 0; left: 0; width: 52px; padding: 0 3px;
            width: 50px; margin: -1px 0 0 -1px; padding: 0 5px; border: 1px solid #832a28 !important;
            line-height: 16px; text-align: left; text-transform: uppercase;
            background: #a33537 repeat-x bottom left;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#831517), to(#a33537))}
/* year */
time abbr+abbr {
            position: absolute; top: 0; left: 0; width: 52px; padding: 0 3px;
            border: 1px solid #a33537; border-bottom: 1px solid #832a28;
            line-height: 14px; color: #eaa; text-align: right;}
/* time */
time sub {
            display: none; height: 17px; border-top: 1px solid #bbd; margin: 0 3px;
                font: 9px/16px Verdana, sans-serif; letter-spacing: 0; text-align: center; color: #aac;}

time:hover sub, /* show the time on mouse-over / keyboard-focus */
time:focus sub {
                display: block;}
