@import url("http://fonts.googleapis.com/css?family=Tangerine");
@import url("http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic");

/**
 * Fonts / Colors
 **/
body {
      font-family: 'Ubuntu', serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      text-shadow: none;
      text-decoration: none;
      text-transform: none;
      letter-spacing: 0em;
      word-spacing: 0em;
      line-height: 1.2;
}

a { color: #800000 ; }

footer, footer a{
    font-size:small;
    color:gray;
}

.signature {
	display: block;
    color: gray;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-align: right;
    text-shadow: 4px 4px 4px #aaa;
}
h2 {text-shadow: 2px 2px 2px #ddd;}

/**
 * Layout
 **/
body {
    margin:0;
    pading:0;
    background: #f3ecc7;
    color:#111;
}

.signature {clear:both;}

body>*>p {
}

p,pre {
	max-width:40em;

}

figcaption {
	display:block;
	text-align:center;
	font-style: italic;

}

pre {
	overflow: hidden;
	border-top: thin gray dashed;
	border-bottom: thin gray dashed;
}
div.margin {
	width: 20em;
	float: right;}
	div.margin img {
		width: 100%;
	}

section.summary {
    display: block;
    border: thin solid gray;
    border-style:solid none solid none;
    background:white;
}

section>div,
footer>div,
header>div {
    margin: 0 auto 2em;
    max-width:50em;
    padding-left:60px;
}

header>div {
    background:transparent url(title.png) top left no-repeat;
    height:108px;
}

header>div>h1 { display:none }


menu {
    font:"Arial Black"
    display:block;
    position:absolute;
    top:0;
    right:0;
    list-style-type:none;
    margin:0;
    padding:1em 1em 0 0;
    text-align:right;
}

menu a {
    color:black;
    text-decoration:none;
    font-family: Arial Black, sans serif;
}

menu a:hover {
    text-decoration: underline;
}

menu a:after {
    content:url(barres.png);
    margin-left:.5em;
    color: -moz-linear-gradient(
	center bottom,
	rgb(240,87,72) 40%,
	rgb(255,114,101) 70%);
}

