
<h2>{{ schedule.conference.title }} schedule</h2>

<div class="alert alert-info">
  <p>The duration of oral presentations is 20 minutes for long papers and 10
  minutes for short papers, in addition there are 5 minutes for questions for
  each presentation.
</div>

<div class="row">
<div class="col-md-12">
  <header ng-repeat-start="day in days">
  <h2 id="day{{$index}}">Day {{ $index + 1 }}</h2>
  </header>

  <div class="body">
    <div ng-repeat="(time, events) in day.schedule">
      <div class="row">
        <div class="col-sm-2">
          <h4 style="font-size: 1.2em; color:gray;">{{ time }}</h4>
        </div>
        <div class="col-sm-10">
          <div ng-repeat="event in events" ng-switch on="event.type">
            <p class="text-muted" style="line-height:40px" ng-switch-when="other">{{ event.title }}</a> <small>({{ event.duration }})</small></p>
            <div class="panel panel-default" ng-switch-default>
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ event.title }} <small>({{ event.duration }})</small>
                </h4>
              </div>
              <div ng-if="event.description">
                <div class="panel-body">
                  <div ng-bind-html="event.description"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer ng-repeat-end> </footer>
</div>
</div>
